*{
  margin:0;
  padding: 0;
}

body{
  background: url('../assets/bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 290px;
}

.input{
  text-align: center;
  margin: 100px auto;
}

.tempSize {
    font-size: 6.2em;
}

.descSize {
    font-size: 1.8em;
}

.text-blue{
  color: rgb(55, 87, 109);
}

.input input[type="text"]{
  font-size: 18px;
  width: 440px;
  height: 40px;
  padding: 5px 10px;
  border: none;
  border-radius: 8px;
}

input[type="submit"]{
  font-size: 18px;
  padding: 15px 15px;
  border: none;
  border-radius: 7px;
}


.card{
  text-align: center;
  width: 40%;
  height: 40vh;
  margin: 50px auto;
}
